.has-mask {
    position: absolute;
    clip: rect(10px, 150px, 130px, 10px);
}

.file-upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.file-upload{
    justify-content: center;
    align-items: center;
    width: 70%;
}
